@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Solway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&family=Solway:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Solway:wght@700;800&display=swap');

:root {
    --h1-font: 'Bevan', serif;
    --h2-font: 'Solway', serif;
}
* { 
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
    background-color: #10316B;
}

.title {
    font-family: var(--h1-font);
    font-size: 66px;
    color: #FDBE34;
    text-align: center;
    padding-top: 5%;
}
.subtitle {
    font-family: var(--h2-font);
    font-weight: 800;
    font-size: 30px;
    color: #F2F7FF;
    text-align: center;
}
.content {
    flex: 1 1 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 50px;
    row-gap: 50px;
    padding: 140px;
}
.content__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 260px;
    width: 260px;
    gap: 20px;
    text-decoration: none;
    font-family: var(--h2-font);
    font-size: 25px;
    color: #F2F7FF;
    border: 2px solid;
    border-radius: 8px;
    padding: 20px 40px 20px 40px;

}
.content__button:hover {
    border: 2px solid #FDBE34;
}
.footer {
    width: 100%;
    text-align: center;
    font-family: var(--h2-font);
    color: #F2F7FF;
    background-color: #FDBE34;
    padding: 23px 0px;
}